body{
  background-color: #dae2e4;
}
.main{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /*display:flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
}

.warm{
  background-color: yellow;
}
.cold{
  background: deepskyblue;
}
.description {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 0;
}
.datetime{
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 4vh;
}
.quote{
  text-align: center;
  font-size: 1.3em;
  padding: 0 20%;
}
.temperature{
  text-align: center;
  padding-bottom: 6vh;
  padding-top: 6vh;
  display:flex;
  justify-content: center;
}
.icon{
  text-align: center;
}
.city{
  font-size: 1.5em;
  padding-bottom: 2vh;
  text-align: center;
}

